<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <div class="jumbotron">
                    <h1 class="display-4">첫번째 익스프레스 페이지입니다.</h1>
                    <p class="lead">이 사이트는 해외축구 데이타를 파싱한 페이지입니다.</p>
                    <hr class="my-4">
                    <p>다른 파싱 정보도 만드는중</p>
                    <a class="btn btn-primary btn-lg" href="/epl" role="button">보러가기</a>
                </div>
            </div>
        </div>

    </div>
</body>

</html>