<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="/epl">프리미어 리그</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/primera">라리가</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/seria">세리에A</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/bundesliga">분데스리가</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/board">검색</a>
                </li>
            </ul>
</nav>